.HomeHeader {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.HomeHeader__title {
	font-size: 64px;
	font-family: Roboto;
	color: white;
	font-weight: 700;
}

.HomeHeader__logo {
	width: 200px;
	height: 200px;
}