.HomeHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.HomeHeader__logo {
  width: 160px;
  height: 160px;
  background: url("logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
