@import url("./roboto.css");

body {
  --dark-red: #540a0c;
  --light-red: #900a0e;
  --dark-gray: #242424;
  --very-dark-gray: #171515;
  --light-gray: #7e7e7e;
}

html {
  margin: 0;
  width: 100%;
  background-color: #403c3c;
}

body {
  margin: 0;
  min-height: 100%;
  width: 100%;
}
body::after {
  content: "";
  background: url("background.png");

  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.noBorderInput {
  border: none;
  border-bottom: 2px solid var(--light-gray);
  background-color: var(--dark-gray);
  outline: none;
  font-family: Roboto, sans-serif;
  color: white;
}
.noBorderInput:focus {
  border-bottom: 2px solid #fff;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #1F1F1F;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1F1F1F;
}
::-webkit-scrollbar-thumb:active {
  background-color: #1F1F1F;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}