.JavaSettings__RAM__recommended {
    text-align: left;
}

.JavaSettings__java_path__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.JavaSettings__java_path__label {
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    border-bottom: white solid 1px;
    padding: 5px;
    cursor: pointer;
}