.NewsComponent {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 25%;
	min-width: min-content;
	max-width: 60%;
	background-color: rgba(36,36,36,0.8);
	border-radius: 3px;
	color: white;
	font-family: Roboto;
	padding: 15px;
	min-height: 300px;
	max-height: 60vh;
	overflow: auto;
}

.NewsComponent__title {
	font-size: 32px;
}

.NewsComponent__body {
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}

hr.solid {
	border-top: 1px solid #fff;
	width: 75%
}