* {
    margin: 0;
}
.Settings {
    display: flex;
    flex-direction: row;
}

.Settings__switch {
    margin-top: 44px;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Settings__switch__buttons {
    align-self: flex-end;
    flex-grow: 0;
    margin-bottom: 20px;
    margin-right: 100px;
}

.Settings__switch__buttons__button {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    background-color: var(--very-dark-gray);
    border-radius: 5%;
    margin-left: 16px;
    transition: filter 0.15s;
}

.Settings__switch__buttons__button:hover {
    filter: brightness(170%);
}

.Settings__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin-left: 100px;
}

.Settings__menu__sub {
    display: flex;
    flex-direction: column;
}
.Settings__menu__sub__link {
    text-decoration: none;
    color: var(--light-gray);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.Settings__menu__sub__link-active {
    color: white;
}

.Settings__title {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: white;
}

.Settings__switch__title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin-bottom: 50px;
    flex-grow: 0;
}

.JavaSettings {
    flex-grow: 1;
}

.Update {
    flex-grow: 1;
}

.About {
    flex-grow: 1;
}